* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --box-size: 100px;
  }
  body {
    height: 100vh;
    display: grid;
    place-content: center;
  }
  .container {
    width: min-content;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(var(--box-size) / 2);
    background-color: black;
    padding: 60px;
    padding-right: calc(60px + var(--box-size) / 2);
  }
  .box {
    width: var(--box-size);
    height: var(--box-size);
    position: relative;
    margin-top: calc(var(--top) * var(--box-size) / 2)
  }

  .box:nth-of-type(1){
      animation: box-anim 3s ease 0.1s  infinite ;
  }
  .box:nth-of-type(2){
      animation: box-anim 3s ease 0.4s infinite ;
  }
  .box:nth-of-type(3){
      animation: box-anim 3s ease 0.7s infinite ;
  }
  .box:nth-of-type(4){
      animation: box-anim 3s ease 1s infinite ;
  }
  .violet {
    background-color: violet;
  }
  .red {
    background-color: red;
  }
  .blue {
    background-color: blue;
  }
  .green {
    background-color: green;
  }
  .yellow {
    background-color: yellow;
  }

  @keyframes box-anim {
      0%{
          transform: translateX(0%);
          z-index: 0;
      }
      5%{
          z-index: 1;
      }
      10%{
        transform: translateX(70%);
        z-index: 1;
      }
      15%{
          z-index: 1;
      }
      20%{
        transform: translateX(70%);
        z-index: 1;
      }
      95%{
          z-index: 1;
      }
      100%{
        transform: translateX(0%);
        z-index: 1;
      }
      101%{
        transform: translateX(0%);
        z-index: 0;
      }
      105%{
        z-index: 1;
      }
      110%{
        transform: translateX(70%);
        z-index: 0;
      }
      115%{
        z-index: 0;
    }
    120%{
        transform: translateX(70%);
        z-index: 0;
      }
      195%{
        z-index: 1;
    }
    200%{
        transform: translateX(0%);
        z-index: 1;
      }


    }
    


    

      
     
  