* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.yndhanur {
    height: 750px;
    width: 800px;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}

.header {
    height: 100px;
    width: 770px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: cornsilk;
    font-size: 25px;
    border-radius: 7px;
}

.main {
    background-color: green;
    padding: 10px;
    color: cornsilk;
    font-size: 25px;
    border-radius: 7px;
    display: flex;
    width: 650px;
    height: 500px;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}

.item {
    color: cornsilk;
    font-size: 25px;
    border-radius: 7px;
    min-height: 70px;
    min-width: 70px;
    display: flex;
    background-color: lawngreen;
    align-items: flex-start;
    justify-content: space-between;
}

.foother {
    height: 100px;
    width: 770px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: cornsilk;
    font-size: 25px;
    border-radius: 7px;
}