* {
    box-sizing: border-box;
    margin: 0px;
}

table thead tr td:not(:first-of-type) {
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    margin: 2.5px;
    padding: 2.5px;
}

table tbody tr td {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

table {
    border-spacing: 0px;
}

table {
    min-width: 500px;
    min-height: 500px;
    margin-top: 30px;
}

body table tbody tr td {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}